@keyframes borderColorChange {
  0% {
    border-color: #ff0000;
  }
  25% {
    border-color: #00ff00;
  }
  50% {
    border-color: #0000ff;
  }
  75% {
    border-color: #ffff00;
  }
  100% {
    border-color: #ff0000;
  }
}

.animate-border-color {
  animation: borderColorChange 4s infinite;
  will-change: border-color;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
